/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight: 700;}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:12px}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr {clear: both; display: block; height: 1px; border: 0 none; border-bottom: 1px solid #e7e7eb;}
blockquote{color:#666;font-style:italic;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5}
/*clear clearfix*/
.clearfix:after {content:"\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;}
.clear{clear:both;}
.sd-left{display:inline;float:left;}
.sd-right{display:inline;float:right;}
.cf{*zoom: 1;}
.cf:after { clear: both; }
.tac{text-align: center; }
.tar{text-align: right; }
.cf:before, .cf:after { content: ""; display: table; }

.mat20{margin-top: 20px;}
.mab20{margin-bottom: 20px;}
.ma20{margin: 20px;}

body{font-size: 12px;font-family: "Helvetica Neue",Helvetica,"PingFang SC" , "Hiragino Sans GB","Microsoft YaHei","微软雅黑","Open Sans", Arial, sans-serif; line-height: 1.5;color: #333333;}
/* Links */
a { color: #459ae9; text-decoration: none } 
a:hover { text-decoration: underline; }
a:focus, a:hover, a:active { outline: 0; }

/* 字体文件 */
@mixin font-face($file) {
    /* IE9*/
    src: url('http://at.alicdn.com/t/#{$file}.eot');
    /* IE6-IE8 */
    src: url('http://at.alicdn.com/t/#{$file}.eot?#iefix') format('embedded-opentype'),
    /* chrome、firefox */
    url('http://at.alicdn.com/t/#{$file}.woff') format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/#{$file}.ttf') format('truetype'),
    /* iOS 4.1- */
    url('http://at.alicdn.com/t/#{$file}.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';
    @include font-face('font_611009_5nukq89l26s9k9'); 

}
.iconfont {
    display: inline-block;
    font-family: 'iconfont';
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
            -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                    transform: translate(0, 0);
    -webkit-text-stroke-width: 0.2px;
  }