/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var,i{font-weight:normal;font-style:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight: 700;}
h1{font-size:18px}
h2{font-size:16px}
h3{font-size:14px}
h4{font-size:14px}
h5{font-size:12px}
h6{font-size:12px}
q:before,q:after{content:''}
abbr,acronym{border:0}
hr {clear: both; display: block; height: 1px; border: 0 none; border-bottom: 1px solid #e7e7eb;}
blockquote{color:#666;font-style:italic;}
sup,sub{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
pre{white-space:pre;}
pre,code,tt{font:12px 'andale mono', 'lucida console', monospace;line-height:1.5}
/*clear clearfix*/
.clearfix:after {content:"\0020"; display: block; height: 0;clear: both; visibility: hidden; }
.clearfix {zoom: 1;}
.clear{clear:both;}
.sd-left{display:inline;float:left;}
.sd-right{display:inline;float:right;}
.cf{*zoom: 1;}
.cf:after { clear: both; }
.tac{text-align: center; }
.tar{text-align: right; }
.cf:before, .cf:after { content: ""; display: table; }

.mat20{margin-top: 20px;}
.mab20{margin-bottom: 20px;}
.ma20{margin: 20px;}

body{font-size: 14px;font-family: "Helvetica Neue",Helvetica,"PingFang SC" , "Hiragino Sans GB","Microsoft YaHei","微软雅黑","Open Sans", Arial, sans-serif; line-height: 1.5;color: #333333;}
/* Links */
a { color: #459ae9; text-decoration: none } 
a:hover { text-decoration: underline; }
a:focus, a:hover, a:active { outline: 0; }

/* flex Start */
.b-flex { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.b-flex  .b-flex-item{ -webkit-box-flex: 1; -ms-flex: 1; -webkit-flex: 1; flex: 1; }
.b-flex.b-flex-vertical{ flex-direction:column; }
.b-flex.b-flex-justify { -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; }
.b-flex.b-flex-right { justify-content: flex-end; }
.b-flex.b-flex-stretch {align-items: stretch;}
.b-flex.b-flex-hcenter{    align-items: center;}
.b-flex.b-flex-vcenter{justify-content: center;}
.b-flex.b-flex-center {align-items: center; flex-direction: column;color: #333333;}
/* flex End */

.txt-color{color: #5a59a0;}
.text-sub-color{color: #e7e7ff;}
// btn
.b-btn{padding: 5px 14px;font-size: 12px;}

.bui-button * {
    margin: 0;
    padding: 0; }
  
  .bui-button {
    background: #FFFFFF;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    *display: inline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    padding: 3px 14px;
    /* for old alice button style conflict */
    border: 0 none; }
    .bui-button .iconfont {
      font-size: 18px;
      vertical-align: middle; }
  
  .bui-button:hover {
    text-decoration: none;
    background-image: none;
    /* for old alice button style conflict */
    outline: 0; }
  
  .bui-button:visited, .bui-button:focus {
    outline: 0; }
  
  .bui-button:active {
    position: relative;
    top: 1px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    outline: 0;
    /*box-shadow: 1px 1px 3px #999 inset;*/ }


/* 字体文件 */
@mixin font-face($file) {
    /* IE9*/
    src: url('http://at.alicdn.com/t/#{$file}.eot');
    /* IE6-IE8 */
    src: url('http://at.alicdn.com/t/#{$file}.eot?#iefix') format('embedded-opentype'),
    /* chrome、firefox */
    url('http://at.alicdn.com/t/#{$file}.woff') format('woff'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://at.alicdn.com/t/#{$file}.ttf') format('truetype'),
    /* iOS 4.1- */
    url('http://at.alicdn.com/t/#{$file}.svg#iconfont') format('svg');
}
@font-face {
    font-family: 'iconfont';
    @include font-face('font_611009_blqtus7uba9k9'); 

}
.iconfont {
    display: inline-block;
    font-family: 'iconfont';
    font-style: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
            -webkit-transform: translate(0, 0);
                -ms-transform: translate(0, 0);
                    transform: translate(0, 0);
    -webkit-text-stroke-width: 0.2px;
  }


  // form


/* alice.form 样式模块 */
.bui-input {
  box-sizing: border-box;
  padding: 8px 15px;
  line-height: 20px;
  border: 1px solid #DDDDDD;
  color: #5F5F5F;
  font-size: 14px;
  vertical-align: middle;
  border-radius: 4px;
  width: 230px; }
.bui-input.bui-input-l{width: 420px;}
.bui-input::-webkit-input-placeholder {
  font-size: 14px;
  color: #ACACAC; }

.bui-input:-ms-input-placeholder,
.bui-input::-ms-input-placeholder {
  font-size: 14px;
  color: #ACACAC; }

.bui-input::placeholder {
  font-size: 14px;
  color: #ACACAC; }

.bui-input-288 {
  width: 288px; }

.bui-input-230 {
  width: 230px; }

.bui-input-96 {
  width: 96px; }

.bui-input-98 {
  width: 98px; }

.bui-input-188 {
  width: 188px; }

.bui-input-182 {
  width: 182px; }

.bui-input-176 {
  width: 176px; }

.bui-input-140 {
  width: 140px; }

.bui-input-292 {
  width: 292px; }

.bui-input-182 {
  width: 182px; }

.bui-input-190 {
  width: 190px; }

.bui-input-400 {
  width: 400px; }

.bui-input.bui-input-s {
  padding: 6px 15px;
  line-height: 20px; }

.bui-input:hover,
.bui-textarea:hover,
.bui-input-hover {
  border: 1px #659aea solid; }

.bui-input:focus,
.bui-textarea:focus,
.bui-input-focus {
  outline: none;
  border: 1px solid #4F9FE9;
  box-shadow: 0 0 3px 0 #2171BB;
  color: #595959; }

.bui-textarea {
  line-height: 15px;
  border: 1px #DDDDDD solid;
  padding: 7px 9px;
  overflow: auto;
  box-sizing: content-box;
  font-size: 14px;
  width: 298px;
  height: 114px;
  border-radius: 4px; }
  .bui-textarea.bui-input-l {
    width: 300px; }
  .bui-textarea.bui-input-xl {
    width: 350px; }
  .bui-textarea.bui-input-xxl {
    width: 400px; }
  .bui-textarea.bui-input-xxxl {
    width: 500px; }

.bui-input[disabled],
.bui-textarea[disabled] {
  border: 1px solid #ccc;
  background: #f2f2f2; }

.bui-input[readonly],
.bui-textarea[readonly] {
  border: 1px solid #ccc;
  background: #f2f2f2; }

.bui-input:disabled,
.bui-textarea:disabled {
  border: 1px solid #ccc;
  background: #f2f2f2; }

.bui-input-shadow:focus {
  box-shadow: inset 0 1px 3px 0 rgba(138, 138, 138, 0.5), 0 0 3px 0 #2171BB; }

.bui-input-shadow {
  box-shadow: inset 0 1px 3px 0 rgba(138, 138, 138, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: #f3f3f3; }

.bui-input-shadow:hover {
  border: 1px #659aea solid; }

.bui-input-checkcode {
  width: 100px;
  height: 24px;
  line-height: 28px;
  margin: 0;
  padding: 2px 5px; }

.bui-form-item-hover .bui-input,
.bui-form-item-hover .bui-textarea {
  border: 1px #727272 solid; }

.bui-form-item-focus .bui-input,
.bui-form-item-focus .bui-textarea {
  border: 1px #07f solid;
  box-shadow: 0 0 3px #8cddff; }

.bui-form-item-focus .bui-form-explain,
.bui-form-item-hover .bui-form-explain {
  color: #333; }

.bui-label {
  float: left;
  width: 170px;
  margin-left: -180px;
  padding-top: 10px;
  text-align: right;
  font-size: 14px; }

.bui-label.bui-label-s {
  padding-top: 7px; }

.bui-form-detaillist .bui-label {
  color: #8d8d8d; }

.bui-form-required {
  color: #FF0000;
  font-family: SimSun;
  font-size: 14px;
  margin-right: 6px; }

input.bui-checkbox {
  vertical-align: baseline; }

.bui-form.bui-form-detaillist {
  font-size: 14px; }

.bui-form, .bui-form * {
  list-style: none; }

.bui-form fieldset {
  border: 0; }

.bui-form legend {
  display: none; }

.bui-form-explain {
  margin: 0;
  padding: 8px 0 0;
  font-size: 12px;
  color: #B2B2B2; }

.bui-form-prompt {
  margin: 0;
  padding: 8px 0 0;
  font-size: 12px;
  color: #B2B2B2; }

.bui-form-other {
  margin-left: 8px;
  color: #999999; }

.bui-form-text {
  display: inline-block;
  margin-top: 6px;
  font-size: 14px;
  *display: inline;
  *zoom: 1; }

.bui-form-inputcon {
  display: inline-block;
  margin-top: 6px;
  *display: inline;
  *zoom: 1; }
  .bui-form-inputcon label {
    margin-right: 20px; }

.bui-form-item:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden; }

.bui-form-item.bui-small-space {
  margin-top: -8px; }

.bui-form-item {
  padding: 0 5px 20px 270px;
  zoom: 1; }
  .bui-form-item .bui-button.bui-button-xl {
    padding: 0 40px; }
  .bui-form-item .bui-button.bui-button-l {
    padding: 0 40px; }

.bui-form-item select {
  vertical-align: middle;
  margin: 4px 0 0; }

.bui-form .bui-form-select {
  padding: 2px;
  margin-top: 0px;
  line-height: 34px;
  height: 34px;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: 0;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out; }

.bui-form .bui-form-select[disabled] {
  border: 1px solid #ccc;
  background: #f2f2f2; }

.bui-form-item input {
  vertical-align: middle; }

.bui-form-item .bui-input {
  color: #595959;
  vertical-align: middle;
  *vertical-align: -5px; }

.bui-form-item-error .bui-input,
.bui-form-item-error .bui-textarea {
  border: 1px #FF8617 solid;
  color: #FF8617; }

.bui-form .bui-textarea.bui-textarea-l {
  width: 580px;
  height: 60px; }

.bui-form-item-error .bui-input-reset {
  border: 1px #FF8617 solid;
  color: #000; }

.bui-form-item-error .bui-form-explain {
  color: #FF8617; }
  .bui-form-item-error .bui-form-explain .iconfont {
    font-size: 16px; }

.bui-form .bui-form-selector {
  padding: 0 15px;
  min-width: 330px;
  margin-top: 0;
  line-height: 34px;
  height: 34px;
  vertical-align: middle;
  box-shadow: inset 0 1px 3px 0 rgba(138, 138, 138, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: #f3f3f3;
  color: #5F5F5F;
  outline: 0;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out; }

.bui-form .bui-form-select-sub {
  padding: 0 15px;
  margin-top: 0;
  line-height: 34px;
  height: 34px;
  vertical-align: middle;
  box-shadow: inset 0 1px 3px 0 rgba(138, 138, 138, 0.5);
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
  background: #f3f3f3;
  color: #5F5F5F;
  outline: 0;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out; }

.bui-form .bui-form-selector[disabled] {
  border: 1px solid #ccc;
  background: #f2f2f2; }



/*# sourceMappingURL=form.css.map */

.bui-button-green {
  color: #fff;
  background-color: #5a59a0;
}
.bui-button-l {
  height: 32px;
  line-height: 32px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  border-radius: 4px;
}